<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonHeader(title,links)">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html">-->
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!--<meta name="description" content="">-->
    <!--<meta name="author" content="">-->


    <title th:replace="${title}"></title>

    <!-- Bootstrap1 -->
    <!-- jQuery (Bootstrap1 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <link href="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js">

    <!-- 加载 Bootstrap1 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link rel="icon" href="favicon.ico">

    <!-- Bootstrap1 core CSS -->
    <link th:href="@{/static/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet" type="text/css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/static/assets/css/ie10-viewport-bug-workaround.css}" type="text/css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script type="text/javascript" th:src="@{/static/assets/js/ie8-responsive-file-warning.js}"></script><![endif]-->

    <script type="text/javascript" th:src="@{/static/assets/js/ie-emulation-modes-warning.js}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" th:src="@{https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js}"></script>
    <script type="text/javascript" th:src="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->
    <script th:src="@{/static/js/common.js}"></script>

    <th:block th:replace="${links}" />
</head>
<body>

<div th:fragment="commonNav">
    <div class="masthead clearfix">
        <div class="inner">
            <h3 class="masthead-brand"><a href="/">首页</a></h3>
            <nav>
                <ul class="nav masthead-nav" id="nav">
                    <li class="active"><a href="goProgramming">程序员日常</a></li>
                    <li><a href="goLove">我爱艺术</a></li>
                    <li><a href="goChatterbox">一只话痨</a></li>
                    <li><a href="goBoring">无聊得很</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<footer th:fragment="commonFooter">
    <div class="mastfoot">
        <div class="inner">
            <p>Cover template for <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>, by <a href="https://github.com/Radishsidar" target="_blank">@Radish</a>.</p>
        </div>
    </div>
</footer>
</body>
</html>