<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common::commonHeader(~{::title},~{::link})">
    <title>大萝卜大大大萝卜的地盘</title>
    <!-- Custom styles for this template -->
    <link th:href="@{/static/css/cover.css}" rel="stylesheet">
</head>
<script>
    $(document).ready(function() {

        $('a').on('click touchend', function(e) {
            var el = $(this);
            var link = el.attr('href');
            window.location = link;
        });

    });
</script>
<body>
<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <!--<div th:include="common::commonNav"></div>-->

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand"><a href="/">首页</a></h3>
                    <nav>
                        <ul class="nav masthead-nav" id="nav">
                            <li><a href="goProgramming">程序员日常</a></li>
                            <li><a href="goLove">我爱艺术</a></li>
                            <li><a href="goChatterbox">一只话痨</a></li>
                            <li><a href="goBoring">无聊得很</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="inner cover">
                <div sec:authorize="isAuthenticated()">
                    This content is only shown to authenticated users.
                </div>
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    This content is only shown to administrators.
                </div>
                <div sec:authorize="hasRole('ROLE_USER')">
                    This content is only shown to users.
                </div>

                <div th:text="${session.id}"></div>
                Logged user: <span sec:authentication="name">Bob</span>
                Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
                <span th:text="1234">4321</span>

                <div th:text="*{user}"></div>

                <h1 class="cover-heading">首页呀</h1>
                <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download,
                    edit the text, and add your own fullscreen background photo to make it your own.</p>
                <p class="lead">
                    <a href="logout" class="btn btn-lg btn-default">退出</a>
                </p>
            </div>

            <div th:include="common::commonFooter"></div>

        </div>

    </div>

</div>


</body>
</html>