<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::commonHeader(~{::title},~{::link})">
    <title>Register</title>
    <link rel="icon" href="/static/image/favicon.ico">
    <!-- Custom styles for this template -->
    <link th:href="@{static/css/signin.css}" rel="stylesheet" type="text/css">
</head>

<body>

<div class="container">

    <form class="form-signin" th:action="@{/register}" method="post">
        <h2 class="form-signin-heading">注册</h2>
        <label for="username" class="sr-only">Username</label>
        <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
        <br>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required><br>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="submit"><a href="login">登录</a></input>
        <!--<input type="submit" value="Log in" />-->
    </form>

</div> <!-- /container -->


</body>

</html>
